@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent placeholder text from wrapping */
.placeholder-nowrap::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
